<div class="col-sm-2">Name</div>
<div class="col-sm-2">NBlocks</div>
<div class="col-sm-2">Quantity</div>
<div class="col-sm-2">Total</div>
<div class="col-sm-2">Price</div>
<div class="col-sm-2">Unit price</div>

<div *ngFor="let ingr of ingredientStock">
  <div class="col-sm-2">{{ingr.blockQuantity.ingredient.name}} </div>
  <div class="col-sm-2">{{ingr.nBlocks}} </div>
  <div class="col-sm-2">{{ingr.blockQuantity.quantity}} </div>
  <div class="col-sm-2">{{ingr.total()}} </div>
  <div class="col-sm-2">{{ingr.price}} </div>
  <div class="col-sm-2">{{ingr.unitPrice()}} </div>
</div>
