<nav class="navbar navbar-default">
  <div class="container">
        <ul class="nav navbar-nav">
            <li><a routerLink="/" routerLinkActive="active">
                <img alt="Brand" src="../favicon.ico">
            </a></li>
            <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
            <li><a routerLink="/ingredients" routerLinkActive="active">Ingredients</a></li>
            <li><a routerLink="/dishes" routerLinkActive="active">Dishes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/" routerLinkActive="active">Balance: <span>{{balance}} </span></a></li>
        </ul>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
