<input type="text" #ingredientName (keyup.enter)="addIngredient(ingredientName)">
<button class="btn btn-primary" (click)="addIngredient(ingredientName)">Add ingredient</button>
	<div class="row">
		<div class="col-sm-6"><b>Name</b></div>
		<div class="col-sm-6"><b>Quantity</b></div>
	</div>
<div *ngFor="let ingredient of ingredientQuantities.keys(); let i = index;">
	<div class="row" style="margin-top: 15px;">
		<div class="col-sm-6">{{ingredient.name}} </div>
		<div class="col-sm-6">{{ingredientQuantities.get(ingredient).quantity}} </div>
	</div>
</div>