<input type="text" #ingredientName (keyup.enter)="addIngredient(ingredientName)">
<button class="btn btn-primary" (click)="addIngredient(ingredientName)">Add ingredient</button>
	<div class="row">
		<div class="col-sm-3"><b>Name</b></div>
		<div class="col-sm-3"><b>Price</b></div>
		<div class="col-sm-3"><b>Edit</b></div>
		<div class="col-sm-3"><b>Delete</b></div>
	</div>
<app-ingredient *ngFor="let ingredient of ingredients; let i = index;" [ingredient]="ingredient">
	<button (click)="ingredients.splice(i, 1)" class="btn btn-danger btn-sm">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
</app-ingredient>